@model List<SimpleCRUD.Models.Domain.Student>
@{
}
<h1>Lista De Estudantes</h1>
<table class="table">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Data de Nascimento</th>
            <th>Curso</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Roll</td>
                <td>@student.Name</td>
                <td>@student.PhoneNumber</td>
                <td>@student.Email</td>
                <td>@student.DOB.ToString("dd MMMM yyyy")</td>
                <td>@student.Department</td>
                <td><button type="button" class="btn btn-outline-primary btn-sm"><a href="Student/Edit/@student.Id">Edit</a></button></td>
                <td><button type="button" class="btn btn-sm btn-danger"><a href="Student/Delete/@student.Id">Delete</a></button></td>
            </tr>            
        }        
    </tbody>
</table>